

/* coverphoto*/
.jumbotron {
		display: flex;
		align-items: center;
		background-image: url('../images/workplace.jpg');
		background-size: cover;
		color: #ffffff;
		height: 400px;
		text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
		text-align: center;
		font-size: 60px;
		font-weight: 700;
		margin-top: 20%;
		color: #FFF;
		font-family: 'Outwrite';
}

.jumbotron h3 {
		margin: 0 0 20px;
		color: #fff;
		text-align: center;
		font-family: 'typwrng';
}

/* buttons */
.btn-toolbar {
		border: 0px;
		width: 150px;
}

.btn.btn-outline-primary {
		color: black;
		text-shadow: none;
		background-color: #79A595;
		font-family: 'typwrng';
		text-align: center;
		margin-right: 20px;
}

/* to the top */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #79A595; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #F3F2D6; /* Add a dark-grey background on hover */
    color: black;
}


/* about me section*/
#profile {
	border-radius: 50%;
	width: 60%;
	border: solid;
	border-width: 8px;
	border-color: #F3F2D6;
}

.col-md-6 {
	font-family: 'TravelingTypewriter';
}	


/*every row*/
.row {
	text-align: center;
	height: 350px;
	width: 100%;
	overflow: visible;
}


.row h3 {
	font-family: 'typwrng';
} 

.row p {
	font-family: 'TravelingTypewriter';
}


/* fun fact*/
.col-md-12 {
	padding: 2%;
	background-color: #F3F2D6; 
	border-radius: 20px;
	text-align: left;
	height: 385px;

} 
.col-md-12 p {
	font-family: 'fzmOldTypewriter';
}

/*Gallery */
.container-fluid h3 {
	margin-top: 5%;
	font-family: 'typwrng';
	text-align: center;
}

.photo {
	width: 80%;
	border-radius: 10%;
	float: right;
	border: solid;
	border-width: 7px;
	border-color: #F3F2D6;
}

.col-md-3 {
	margin-top: 2%;
}

/* Portfolio */
.current {
	background-color: #F3F2D6;
	float: left;
	height: 400px;
	width: 500px;
	border-radius: 20px;
	text-align: center;
	padding-top: 2%;
}

.history {
	background-color: #F3F2D6;
	float: right;
	height: 400px;
	width: 500px;
	border-radius: 20px;
	text-align: center;
	padding-top: 2%;
}


/* footer */

.icon {
	width: 80px;
	margin-right: 4%;
	margin-bottom: 5%;
	float: center;
	align-items: center;
}

.contact {
	margin-top: 19%;
	margin-left: 32%;
}

